.home {
  width: 100%;
  display: flex;
  justify-content: center;

  &-container {
    width: 90%;
  }

  &-categories {
    width: 100%;
    font-size: 14px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    // overflow-x: scroll;
  }

  &-category {
    padding: 5px 10px;
    background-color: var(--secondary);
    border-radius: 20px;
    cursor: pointer;

    &:hover {
      background-color: var(--primary);
    }
  }

  &-products {
    width: 100%;
    columns: 2 140px;
    column-gap: 10px;
  }
}