.nav {
  width: 100%;
  padding: 10px 0;
  border-bottom: var(--primary) 1px solid;
  font-size: 1.8rem;

  & ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  & li {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      background-color: var(--secondary);
      transform: scale(1.1);
      transition: background-color 0.3s ease;
      transition: transform 0.3s ease;
    }
  }

  &-menu {
    width: 100%;
    height: calc(100vh - 65px);
    position: absolute;
    z-index: 2;
    font-size: 1.2em;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    overflow-y: hidden;
    
    &__buttons {
      width: 70%;
      height: calc(100vh - 65px);
      background-color: var(--background-1);
      position: absolute;
      z-index: 2;
      right: 0;
      border-left: var(--primary) 1px solid;
      transform: translateX(100%);
      transition: transform 0.3s ease;
      display: flex;
      flex-direction: column;

      & a {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 20px 10px;
        border-bottom: var(--primary) 1px solid;

        &:hover {
          background-color: var(--secondary);
        }
        
        & svg {
          width: 30%;
          font-size: 1.5rem;
        }

        & p {
          font-weight: 600;
        }
      }

      & div {
        margin-top: 120%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 10px;
        border-top: var(--primary) 1px solid;
      }
    }
  }

  &-logo, &-title {
    transform: translateY(-150%);
    transition: transform 0.3s ease;
  }

  &-logo {
    position: absolute;
    left: 8%;
    border-radius: 50%;
    height: 45px;
    width: 45px;

    & img {
      width: 100%;
    }
  }

  &-title {
    position: absolute;
    left: 28%;
    font-size: .9em;
  }
}

.active {
  background-color: var(--primary);
}