@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;600;700&family=Ubuntu:wght@300;400;500&display=swap');

:root {
  // fonts
  --text-font: 'Poppins', sans-serif;
  --title-font: 'Ubuntu', sans-serif;
  --textcolor: #fff;
  --color-warning: #d10101;
  --font-size: 18px;

  // colors
  --background-1: #050505;
  --background-2: #0F0F0F;
  --background-3: #1E1E1E;
  --primary: #523C6B;
  --secondary: #1E1825;
  --accent: #836B9E;


  --bgcolor-3: #474747;
  --bgcolor-4: #626262;
  --bgcolor-5: #7c7c7c;

}